@keyframes gradientAnimation {
    0%,
    100% {
      background-position: 0% 50%;
      /* transform: scale(1, 1); */
    }
    50% {
        /* transform: scale(1.5, 1.5); */
      background-position: 100% 50%;
    }
  }
  
  .gradient-animation {
    background: #368bd6;
    background: linear-gradient(315deg, #89CFF0 3%, #73C2FB 38%, #B9D9EB 68%, #7CB9E8 98%);

    background-size: 400% auto;
    animation: gradientAnimation 5s ease-in-out infinite;
  }
  .custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#0a018d 95%,#0000) 50% 1px/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 14px),#ffffff 0);
   
    animation: s5 1s infinite linear;
  }
  
  @keyframes s5 {
    100% {transform: rotate(1turn)}
  }
  
  
